.carousel-container {
    margin: 100px auto;
    display: flex;
    max-width: 775px;
    overflow-x: auto;
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}
.carousel-container::-webkit-scrollbar {
    display: none;
}
@keyframes scroll {
    from {translate: 0;}
    to {translate: -100%;}
}
.group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-right: 1em;
    min-width: 100%;
    animation: scroll 20s linear infinite;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
}
.analysis-card {
    font-family: 'Ubuntu Mono', monospace;
    flex: 0 0 7.5em;
    height : 6em;
    padding: 1em;
    background-color: #252525;
    font-size: 1.2rem;
    border-radius: .2em;
    align-items: center;
    border: 0.1px solid #ffae00;
}
.analysis-card-title {
    color: white;
    font-size: 1em;
    font-weight: 200;
    margin-top: 0.5em;
}
.analysis-card-logo {
    width: 2.5em;
    height: 2.5em;
    margin-bottom: 0.5em;
}
.analysis-card-description {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 200;
    font-size: 0.7em;
    margin-top: 0.2em;
    font-size: 0.8em;
    color: #ffae00;
}